@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Dana';
        src: url('../fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    }

    @font-face {
        font-family: 'Dana Bold';
        src: url('../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2');
    }

    @font-face {
        font-family: 'Morabba';
        src: url('../fonts/Morabba/woff2/Morabba-Medium.woff2');
    }
}


@layer components {
 .navbar::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -2rem;
    background-color: darkblue;
    width: 100%;
    height: 2rem;
    border-radius: 0 0 2rem 2rem;
    z-index: 1;
 }   
}
body {
    font-family: 'Dana';
}